<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<!-- nome da aplicação -->
	<display-name>Drogaria</display-name>

	<!-- Página Principal -->
	<welcome-file-list>
		<welcome-file>faces/pages/principal.xhtml</welcome-file>
		
	</welcome-file-list>

	<!-- configuração do servlet do jsf -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>

    <!-- difinição do tema do primefaces -->
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>dot-luv</param-value> <!-- nome do tema -->
	</context-param>
	
	<context-param> <!-- solucao criada para corrigir o erro: java.lang.ClassCastException: com.sun.faces.facelets.compiler.UIInstructions não pode ser convertido para org.primefaces.model.menu.MenuElement -->
   		<param-name> facelets.SKIP_COMMENTS </param-name> 
   		<param-value> true </param-value> 
	</context-param>
</web-app>